In [1]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv('/Users/nazenirustemli/Desktop/python_/supermarket_sales - Sheet1.csv')

In [5]:
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [6]:
#1 ümumi datada ne qeder yığım elde olunub? (Total)
data['Total'].sum()

322966.749

In [21]:
#2 eger vergi faizi 10% olsa idi, bu zaman ne qeder yığım elde olunardı?

In [23]:
data['Total2']=data['Unit price']*data['Quantity']+data['Tax 10%']

In [24]:
data['Total2'].sum()

338346.118

In [26]:
#3 en çox vergi hansı produkt üzre verilmişdir?(vergi 5%)
data[data['Tax 5%']==data['Tax 5%'].max()]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Tax 10%,Total2
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.3,10,49.65,1042.65,2/15/2019,14:53,Credit card,993.0,4.761905,49.65,6.6,99.3,1092.3

In [29]:
#4 Datada üzv olmayan müterilerin faizi ne qederdir?
data[data['Customer type']=='Normal'].shape[0]/len(data)

0.499

In [43]:
#5 Neçe eded sport produkt satılmışdır?
data[data['Product line']=='Sports and travel'].shape[0]

166

In [44]:
#6 En çox satış hansı branch üzre olmuşdur?
data['Branch'].max()

'C'

In [48]:
#7 Hansı şeherde üzvlerin sayı üzv olmayanlardan çoxdur?
for city in data['City'].unique():
    for customertype in data ['Customer type'].unique():
        f1=data['City']==city
        f2=data['Customer type']==customertype
        print (city,customertype, data[f1&f2].shape[0])

Yangon Member 167
Yangon Normal 173
Naypyitaw Member 169
Naypyitaw Normal 159
Mandalay Member 165
Mandalay Normal 167

In [51]:
#8 Kişilerin en çox aldığı produkt hansıdır?
data[data['Gender']=='Male']['Product line'].value_counts()

Health and beauty         88
Electronic accessories    86
Food and beverages        84
Fashion accessories       82
Home and lifestyle        81
Sports and travel         78
Name: Product line, dtype: int64

In [53]:
#9 En çox ödeniş hansı növde olmuşdur?(payment)
data['Payment'].max()

'Ewallet'

In [54]:
data['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [55]:
data[data['Payment']=='Cash']['Total'].sum()

112206.57

In [56]:
data[data['Payment']=='Ewallet']['Total'].sum()

109993.107

In [ ]:
#10 Üzv olan müşterilerin neçe faizi kredit kartı ile elektronik produkt almışdır?

In [61]:
f1=data['Customer type']=='Member'
f2=data['Payment']=='Credit card'
f3=data['Product line']== 'Electronic accessories'
data[f1&f2&f3].shape[0]/len(data)

0.022