In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"/Users/nazenirustemli/Desktop/python_/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [ ]:
#1) Müştərilərin İD-sinin unique olub olmadığını yoxlayın, əgər deyilsə duplikat dəyərləri silib datanı İD duplikatı olmadan save edin

In [4]:
data['customerID'].is_unique

False

In [8]:
data= data.drop_duplicates('customerID',keep=False)

In [9]:
data['customerID'].is_unique

True

In [16]:
# 2) Payment method columnunda automatic payment olanların qarşısına automatic, deyilsə manual yazılsın

In [11]:
data['Payment_method_1']= np.where(data['PaymentMethod'].str.contains('automatic',case=False),'Automatic','Manual')

/var/folders/hc/v4n5h9j12wn2yg348sg66mmh0000gn/T/ipykernel_83087/39021023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Payment_method_1']= np.where(data['PaymentMethod'].str.contains('automatic',case=False),'Automatic','Manual')

In [15]:
data.head()

,customerID,gender,SeniorCitizen,Partner,tenure,PhoneService,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Payment_method_1
0,7590-VHVEG,Female,0,Yes,1,No,DSL,Month-to-month,Electronic check,29.85,29.85,No,Manual
1,5575-GNVDE,Male,0,No,34,Yes,DSL,One year,Mailed check,56.95,1889.5,No,Manual
2,3668-QPYBK,Male,0,No,2,Yes,DSL,Month-to-month,Mailed check,53.85,108.15,Yes,Manual
3,7795-CFOCW,Male,0,No,45,No,DSL,One year,Bank transfer (automatic),42.30,1840.75,No,Automatic
4,9237-HQITU,Female,0,No,2,Yes,Fiber optic,Month-to-month,Electronic check,70.70,151.65,Yes,Manual

In [ ]:
#3) 12-dən çox tenure-a sahib olan müştərilərin əgər aylıq ödəmə hissəsində boşluq varsa bunu ümumi datada aylıq ödəmə columnunun ortalaması ilə əvəz edin

In [22]:
f1=data['tenure']>12
f2=data['MonthlyCharges'].isna()
data.loc[f1&f2,'MonthlyCharges']=data['MonthlyCharges'].mean()

In [24]:
data[f1&f2].head()

,customerID,gender,SeniorCitizen,Partner,tenure,PhoneService,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Payment_method_1
197,6168-YBYNP,Male,0,No,59,Yes,Fiber optic,Month-to-month,Electronic check,64.780994,6519.75,No,Manual
316,3973-SKMLN,Male,0,No,71,Yes,No,Two year,Credit card (automatic),64.780994,1355.1,No,Automatic
435,2320-SLKMB,Female,0,No,26,No,DSL,Month-to-month,Credit card (automatic),64.780994,1183.8,No,Automatic
553,1982-FEBTD,Female,0,Yes,23,Yes,No,Two year,Credit card (automatic),64.780994,514.75,No,Automatic
944,6353-BRMMA,Female,0,Yes,54,Yes,Fiber optic,Month-to-month,Bank transfer (automatic),64.780994,5645.8,No,Automatic

In [ ]:
#4) Fiber optic internet servis istifadə edən müştərilərin əsasən hansı genderə aid olduğunu göstərin

In [28]:
f1=data['InternetService']=='Fiber optic'
data[f1]['gender'].mode()

0    Female
Name: gender, dtype: object

In [ ]:
# 5) Phone service columnunda boşluqları elə həmin columnun mode dəyəri ilə əvəz edin

In [30]:
data['PhoneService']=data['PhoneService'].fillna(data['PhoneService'].mode()[0])

/var/folders/hc/v4n5h9j12wn2yg348sg66mmh0000gn/T/ipykernel_83087/3897197669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['PhoneService']=data['PhoneService'].fillna(data['PhoneService'].mode()[0])

In [ ]:
# 6) Yerli müştərilərdən telefonu servisdə olanların Total ödəmələrinin cəmini tapın

In [31]:
data.head()

,customerID,gender,SeniorCitizen,Partner,tenure,PhoneService,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Payment_method_1
0,7590-VHVEG,Female,0,Yes,1,No,DSL,Month-to-month,Electronic check,29.85,29.85,No,Manual
1,5575-GNVDE,Male,0,No,34,Yes,DSL,One year,Mailed check,56.95,1889.5,No,Manual
2,3668-QPYBK,Male,0,No,2,Yes,DSL,Month-to-month,Mailed check,53.85,108.15,Yes,Manual
3,7795-CFOCW,Male,0,No,45,No,DSL,One year,Bank transfer (automatic),42.30,1840.75,No,Automatic
4,9237-HQITU,Female,0,No,2,Yes,Fiber optic,Month-to-month,Electronic check,70.70,151.65,Yes,Manual

In [38]:
data['TotalCharges']= pd.to_numeric(data['TotalCharges'],errors='coerce')

/var/folders/hc/v4n5h9j12wn2yg348sg66mmh0000gn/T/ipykernel_83087/1553487952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TotalCharges']= pd.to_numeric(data['TotalCharges'],errors='coerce')

In [39]:
f1=data['SeniorCitizen']==1
f2=data['PhoneService']=='Yes'
data[f1&f2]['TotalCharges'].sum()

3050624.05

In [ ]:
# 7) Qadın və kişilərin ayrı ayrılıqda hansı method ilə ödəmə zamanı nəqədər aylıq ödəmə etdiyini göstərin

In [41]:
data.groupby(['gender','PaymentMethod']).agg({'MonthlyCharges':'sum'})

                                  MonthlyCharges
gender PaymentMethod
Female Bank transfer (automatic)    53186.123977
       Credit card (automatic)      50878.761988
       Electronic check             88272.773977
       Mailed check                 34423.500000
Male   Bank transfer (automatic)    50353.600000
       Credit card (automatic)      50256.380994
       Electronic check             91464.630994
       Mailed check                 36185.930994

In [42]:
# 8) 1 illik kontraktlarda üstünlüyün partnerlərdə olub olmadığını dəqiqləşdirin.

In [43]:
data.head(3)

,customerID,gender,SeniorCitizen,Partner,tenure,PhoneService,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Payment_method_1
0,7590-VHVEG,Female,0,Yes,1,No,DSL,Month-to-month,Electronic check,29.85,29.85,No,Manual
1,5575-GNVDE,Male,0,No,34,Yes,DSL,One year,Mailed check,56.95,1889.50,No,Manual
2,3668-QPYBK,Male,0,No,2,Yes,DSL,Month-to-month,Mailed check,53.85,108.15,Yes,Manual

In [45]:
data['Contract']=='One year'
data[f1]['Partner'].value_counts()

Yes    571
No     569
Name: Partner, dtype: int64